html {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter';
    color: white;
    line-height: 20px;
}
@media (min-width: 400px) {
  .hero-section {
    background: url('/img/hero-section.webp') no-repeat center center;
    background-size: cover;
  }
}
